body{
    margin: 0;

   

}
#app{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("./index_bg.jpg");
    background-size: contain;
    left: 0;
    top:0
}
/**
首页
 */
.index_box{
    width: 50%;
    margin-left: 25%;

}
.index_header_text{
    width: 100%;
    text-align: center;
}
.index_tips{
    text-align: center;
    width: 100%;
}

/**
内容区
 */
.index_header{

    position: fixed;
    top: 10%;
    width:90%;
    left: 5%;
    background: rgba(255, 255, 255, 0.92);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1) ;
    -moz-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1) ;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1) ;
}
.index_header p{
    padding: 10px;
    margin: 10px;
}
.index_header_logo{
    width: 20%;
    margin-top: 10px;
    margin-left: 40%;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}
.btn_exam:hover{
    background: #8f8f8f;
    color: #fff;
}
.btn_exam:visited{
    background: #fff;

}
.btn_exam{

    margin-top: 10px;
    text-align: center;
    width: 30%;
    margin-bottom: 10px;
    margin-left: 35%;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;
    background: #fff;
}
/**
尾部
 */
.index_footer{
    position: fixed;
    width: 100%;
    bottom: 10%;

    left: 0;
    text-align: center;
    color: aliceblue;
}
/**
答题
 */
.ques_box{
    width: 90%;
    margin-top: 40px;
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1) ;
    -moz-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1) ;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
    padding: 10px;
    margin-left: 5%;
}

.radio{
    margin-top: 10px;
    padding: 10px;
}
/**
结算部分
 */
.scores_box{
    margin-top: 30px;
    background-color:#ffffff ;
    width: 80%;
    padding: 5%;
    margin-left: 10%;

    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1) ;
    -moz-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1) ;

}
.scores_title{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.scores_tips{
    width: 100%;
    text-align: center;

}

.errors_item p{
    background: #c32533;
    color: #fff;
    width: 100%;
    padding: 5px;
    text-align: center;
}
/**
解析
 */

.answer_title{
    width: 100%;
    text-align: center;
}
.answer_r{
    width: 100%;
    text-align: center;
}
.close_btn{
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    background: #c32533;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
}
.close_btn:hover{
    background: #931b19;
}
.close_box{
    text-align: center;
    width: 100%;
}
.answer_r{
    color: rgba(0, 0, 0, 0.73);
}
.more_tips{
    color: #416fc1;
}
.index_footer_text{
    color: #ffffff;
}
.index_footer_text:visited{
    color: #fff;
}
.rotate{
    -webkit-animation-name: logo;
    -moz-animation-name: logo;
    -o-animation-name: logo;
    animation-name: logo;
    animation-delay: 500ms;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-fill-mode: forwards;
    animation-duration:4s;
}
@keyframes logo {
 from{
     transform: translateY(0) translateX(0);
 }
    to{
        transform: translateY(500px) translateX(100px) ;
    }

}